.idea/
.DS_store
*.iml
.idea/workspace.xml
.vscode
.coverage
__pycache__/
*.pth
*.pyc
span.log
.DS_Store
output/
*span.log
*nohup.out
*.ipynb
large_data/
*.csv
cache
*.gzip
.lock
*.vscode
*__pycache__/
*.log
*.out
videx.egg-info
tpch_tiny.sql
videx_metadata_tpch_tiny.json
dist
data
